<div class="ui segment">
  <h3>All Users</h3>
  <div class="ui segment">
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
      <div class="ui segment">
        <%= user.name.upcase %> <%= link_to 'Chat Now!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "ui primary button"%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
